{% extends 'header.html' %} {% block content %}
<div class="container">
    {% if category %}
    <h2 class="">Editar Categoría</h2>
    <form class="site-form " action="{% url 'templates:category.form' category=category.slug %}" method="post" enctype="multipart/form-data">
        {% else %}
        <h2 class="">Crear Categoría</h2>
        <form class="site-form " action="{% url 'templates:category.form' %}" method="post" enctype="multipart/form-data">
            {% endif %} {% csrf_token %} {{ form.non_field_errors }} {% for input in form%}
            <div class="form-group">
                {{input.label_tag}} {{input}} {{input.errors}}
            </div>
            {% endfor %}
            <div class="form-group">{% if category %}
                <input class="form-control" type="submit" value="Editar Categoría"> {% else %}
                <input class="form-control" type="submit" value="Crear Categoría"> {% endif %}
            </div>
        </form>
</div>
<!-- <script src={ % static "js/slugify.js" %}></script> -->
{% endblock content %}