{% extends 'header.html' %} {% block content %}{% load django_bootstrap_icons %}

<div class="category my-2">
    <a href="{% url 'templates:list'  %}">Todas las categorías</a>
</div>
{% for category in categories %}
<div class="category form-inline">
    <h2><a href="{% url 'templates:list'%}?category={{category.slug}}">{{category.title}}</a></h2>
    <a class="mx-2" href="{% url 'templates:category.form' category=category.slug %}">{% bs_icon 'pencil-square' extra_classes='text-success'%}</a>

</div>
{% endfor %}

<div class="category my-2">
    <a href="{% url 'templates:category.form' %}">{% bs_icon 'plus-circle-fill' extra_classes='text-success'%}</a>
</div>
{% endblock %}