{% extends 'header.html' %} {% block content %}{% load django_bootstrap_icons %} {% for template in templates %}
<div class="template form-inline">
    <h2><a href="{% url 'templates:detail' slug=template.slug %}">{{template.title}}</a></h2>
    <a class="mx-2" href="{% url 'templates:form' slug=template.slug %}">{% bs_icon 'pencil-square' extra_classes='text-success'%}</a>
    <a class="mx-2" href="{% url 'templates:delete' template_id=template.id %}">{% bs_icon 'trash' extra_classes='text-danger'%}</a>

</div>
{% endfor %}

<div class="form-group row">
    <form class="form-inline col-12 col-md-3 mx-auto" action="{% url 'templates:form' %}">
        <input type="hidden" name="category" value="{{category.slug}}">
        <button class="btn bg-white shadow col-12 ">{% bs_icon 'plus-circle-fill' extra_classes='text-success'%}&nbsp;&nbsp;Nueva Plantilla</button>
    </form>
</div>
{% endblock %}