.summernote .note-editor {
  width: 100% !important;
}

.selector {
  width: 100% !important;
  display: block !important;
}

.stacked .selector-available,
.stacked .selector-chosen {
  width: 100%;
}

.stacked select {
  width: 100%;
  overflow: scroll;
}

.selector-available select,
.selector-chosen select {
  width: 100%;
}

.selector-available,
.selector-chosen {
  width: 44%;
  min-width: 380px;
}

.selector .selector-available input {
  width: 90%;
}

#id_contact_info {
  width: 100% !important;
}

.dropdown-toggle::after {
  display: none;
}

html,
body {
  /* font-size: 1rem !important; */
  color: var(--bs-gray-900);
  background: transparent;
}

/* 
a {
    color: #0033cc;
} */

:root {
  --anchor-color: #000000;
  --shadow-color: rgba(0, 0, 0, 0.192);
}

:root.dark-theme {
  color-scheme: dark;
  --anchor-color: #809fff;
  --shadow-color: #000000;

  /* --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40; */
  --bs-gray-900: #f8f9fa;
  --bs-gray-800: #e9ecef;
  --bs-gray-900: #dee2e6;
  --bs-gray-700: #dee2e6;
  --bs-gray-600: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-400: #6c757d;
  --bs-gray-300: #495057;
  --bs-gray-200: #343a40;
  --bs-gray-100: #212529;
  /* --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-dark: #f8f9fa;
  --bs-light: #212529; */
}

.note-editable,
.note-editor {
  background-color: #ced4da;
}

.selector-available h2 {
  color: var(--bs-gray-900) !important;
  background: rgba(129, 240, 129, 0.534) !important;
}

.navbar,
.sidenav,
.card,
.form-control,
.form-control:focus,
.dropdown-menu,
.page-item,
.page-link,
.filtered,
.selector-filter,
.ace-jsoneditor .ace_scroller,
.ace-jsoneditor .ace_variable,
.ace-jsoneditor .ace_gutter,
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item.active,
.dropdown-item:hover tr,
td,
th,
.offcanvas,
.offcanvas-toggle {
  color: var(--bs-gray-900) !important;
  background: var(--bs-gray-100) !important;
  border-color: var(--bs-gray-400) !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > *,
.table-hover > tbody > tr:hover > * {
  color: var(--bs-gray-900) !important;
}

a,
button,
.dropdown-item,
.btn,
.page-link,
.ace-jsoneditor .ace_text-layer,
.btn:hover {
  color: var(--anchor-color) !important;
  /* background-color: var(--anchor-color); */
}

/* .btn {
    border: 1px solid;
    border-color: var(--anchor-color);
} */

.shadow {
  box-shadow: 0 0.5rem 1rem var(--shadow-color) !important;
}

.ace-jsoneditor .ace_text-layer {
  background-color: var(--bs-gray-100);
}

@media (min-width: 576px) {
  /* @include media-breakpoint-up(sm) { */
  html,
  body {
    font-size: 1.02rem !important;
  }
}

@media (min-width: 768px) {
  /* @include media-breakpoint-up(md) { */
  html,
  body {
    font-size: 1.05rem !important;
  }
}

@media (min-width: 768px) {
  /* @include media-breakpoint-up(lg) { */
  html,
  body {
    font-size: 1.1rem !important;
  }
}

table td {
  white-space: nowrap;
}

.navbar {
  z-index: 3;
  position: sticky;
  top: 0;
}

.table {
  max-height: 60vh;
  border-color: var(--anchor-color) !important;
}

.offcanvas-toggle {
  position: fixed;
  top: 0;
  height: 100vh;
}
.btn-circle {
  border-radius: 50%;
}

.form-group.slug {
  display: none;
}

.sidenav .title {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.sidenav .header {
  display: flex;
  justify-content: space-between;
}

.sidenav .btn-container {
  display: flex;
  justify-content: space-between;
}

.sidenav .btn-container .btn {
  background-color: var(--bs-gray-100);
}

#mailsender-import-dropdown * {
  white-space: normal !important;
}
