.summernote .note-editor {
    width: 100% !important;
}

.selector {
    width: 100% !important;
    display: block !important;
}

.stacked .selector-available,
.stacked .selector-chosen {
    width: 100%;
}

.stacked select {
    width: 100%;
    overflow: scroll;
}

.selector-available select,
.selector-chosen select {
    width: 100%;
}

.selector-available,
.selector-chosen {
    width: 44%;
    min-width: 380px;
}

.selector .selector-available input {
    width: 90%;
}

#id_contact_info {
    width: 100% !important
}

.dropdown-toggle::after {
    display: none;
}

html,
body {
    font-size: 1rem !important;
}

@media (min-width: 576px) {
    /* @include media-breakpoint-up(sm) { */
    html,
    body {
        font-size: 1.02rem !important;
    }
}

@media (min-width: 768px) {
    /* @include media-breakpoint-up(md) { */
    html,
    body {
        font-size: 1.05rem !important;
    }
}

@media (min-width: 768px) {
    /* @include media-breakpoint-up(lg) { */
    html,
    body {
        font-size: 1.1rem !important;
    }
}