{% extends 'base.html' %} {% block content %}{{form.media}}
<div class="container p-4 my-4 shadow rounded">
    <form id="mailsender" class="site-form" {% if broadcast %} action="{% url 'sender:form' broadcast=broadcast.id %}" {% else %} action="{% url 'sender:form' %}" {% endif %} method="post" enctype="multipart/form-data">
        <div>
            {% include 'mailsender/import_form.html' with form=form_list|slice:"-3:" %}
        </div>{% include 'base_form.html' with form=form_list|slice:"0:-3"%}
    </form>
</div>
{% endblock content %}