<div class="dropdown show ms-auto col-5 col-lg-4 my-auto" id="mailsender-import-dropdown">
    <a class="col-12 btn shadow dropdown-toggle" href="#" role="button" id="dropdownMenuLink" aria-haspopup="false" aria-expanded="false">
      Importar agenda o plantilla
    </a>

    <div class="dropdown-menu w-100 my-2 shadow" aria-labelledby="dropdownMenuLink">

        {{ form.non_field_errors }} {% for input in form %}
        <div class="form-group dropdown-item my-2">
            {{input.label_tag}} {{input}} {{input.errors}}
        </div>
        {% endfor %}
        <div class="dropdown-item  my-2">
            <input type="submit" formnovalidate="formnovalidate" class="btn col-12 shadow-sm" form="mailsender" name="import" value="Importar" />
        </div>
    </div>
</div>
<script>
    $('#dropdownMenuLink').on('click', function(event) {
        $(this).siblings().toggleClass('show');
    });
    $('body').on('click', function(e) {
        if (!$('#mailsender-import-dropdown').is(e.target) &&
            $('#mailsender-import-dropdown').has(e.target).length === 0 &&
            $('.show').has(e.target).length === 0
        ) {
            $('#mailsender-import-dropdown>.dropdown-menu').removeClass('show');
        }
    });
</script>