<div class="dropdown show col-12 col-md-4 mx-auto m-4 p-4">
    <a class="col-12 btn bg-white shadow dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Importar Archivo
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <form class="site-form" action="{% url 'agendas:importer:main' slug=agenda.slug %}" method="post" enctype="multipart/form-data">

            {% csrf_token %} {{ form.non_field_errors }} {% for input in form %}
            <div class="dropdown-item my-2">
                {{input.label_tag}} {{input}} {{input.errors}}
            </div>
            {% endfor %}
            <div class="dropdown-item  my-2">
                <button class="btn bg-white col-12 shadow">Importar</button>
            </div>
        </form>
    </div>
</div>