<div class="dropdown col-12 col-md-4 mx-auto mb-2 mb-lg-0">
  <a
    class="col-12 btn shadow dropdown-toggle"
    href="#"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Importar Archivo
    <i class="bi bi-caret-down"></i>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <form
      class="site-form form-group p-3 shadow"
      action="{% url 'agendas:importer:main' slug=agenda.slug %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %} {{ form.non_field_errors }} {% for input in form %}
      <div class="dropdown-item my-2">
        {{input.label_tag}} {{input}} {{input.errors}}
      </div>
      {% endfor %}
      <div class="dropdown-item my-2">
        <button class="btn col-12 shadow-sm">Importar</button>
      </div>
    </form>
  </div>
</div>
