{% extends 'header.html' %} {% block content %}
<div class="container shadow my-4 p-4">
    <h2>{{contact|yesno:"Editar,Nuevo"}} Contacto</h2>
    <form class="site-form " action="
        {% if contact %}
        {% url 'contacts:form' contact_id=contact.id %}
        {% else %}
        {% url 'contacts:form' contact_id='new' %}
        {% endif %}" method="post" enctype="multipart/form-data">
        {% include 'base_form.html' %}
    </form>
</div>
<!-- <script src={ % static "js/slugify.js" %}></script> -->
{% endblock content %}