{% extends 'header.html' %} {% block content %}
<div class="container shadow my-4 p-4">
    <h2>{{contact|yesno:"Editar,Nuevo"}} Contacto</h2>
    {% if contact %}
    <a class="text-danger" href="{% url 'agendas:contacts:delete' slug=agenda.slug contact_id=contact.id%}">Borrar Contacto</a> {% endif %}
    <form class="site-form " action="
        {% if contact %}
        {% url 'agendas:contacts:form' slug=agenda.slug contact_id=contact.id %}
        {% else %}
        {% url 'agendas:contacts:form' slug=agenda.slug  %}
        {% endif %}" method="post" enctype="multipart/form-data">
        {% include 'base_form.html' %}
    </form>
</div>
<!-- <script src={ % static "js/slugify.js" %}></script> -->
{% endblock content %}