beautifulsoup4
Django
django-appconf

django-environ
django-json-widget
django-sslserver
django-summernote
flaskwebgui
numpy
openpyxl
pandas
psycopg2-binary
pywin32
sqlparse
waitress
whitenoise
xlrd
django-bootstrap-icons==0.2.5
django-recaptcha
