asgiref==3.3.1
beautifulsoup4==4.9.3
Django==3.1.8
django-appconf==1.0.4
django-bootstrap-icons==0.2.5
django-environ==0.4.5
django-json-widget==1.1.1
django-jsoneditor==0.1.6
django-jsonfield==1.4.1
django-sslserver==0.22
django-summernote==0.8.20.0
djangorestframework==3.14.0
et-xmlfile==1.0.1
flaskwebgui==1.0.3
future==0.18.2
gunicorn==20.1.0
html5lib==1.1
invoke==1.5.0
libsass==0.20.1
lxml==4.6.3
netcat==0.0.1a0
numpy==1.23.3
openpyxl==3.0.7
packaging==20.9
pandas==1.5.2
psutil==5.9.4
psycopg2==2.8.6
pycodestyle==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
pywin32==305
rcssmin==1.0.6
rjsmin==1.1.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
waitress==2.1.2
webencodings==0.5.1
whitenoise==6.3.0
xlrd==2.0.1
