{% extends 'base.html' %} {% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow  mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'agendas:home' %}">Agendas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'agendas:home' %}"> <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <ul class="navbar-nav ml-lg-2">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <form class="dropdown-item p-0" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-link" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
                {% else %}

                <form class="form-inline my-2 my-lg-0" action="{% url 'accounts:login' %}" method="get">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary  my-2 my-sm-0" type="submit">Log in</button>
                </form>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}