{% if menu_title %}
<button
  class="btn offcanvas-toggle shadow"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#sidebar"
  aria-controls="sidebar"
  title="Abrir menu {{menu_title |lower}}"
>
  <i class="bi bi-caret-right"></i>
</button>
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="sidebar"
  aria-labelledby="sidebarLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarLabel">{{menu_title}}</h5>
    {% if menu_type == 'agenda' %}
    <form class="form-inline" action="{% url 'agendas:form' %}">
      <button class="btn btn-sm rounded shadow">
        <i class="bi bi-plus"></i>Nueva agenda
      </button>
    </form>
    {% elif menu_type == 'plantilla' %}
    <form class="form-inline" action="{% url 'templates:form' %}">
      <button class="btn rounded shadow">
        <i class="bi bi-plus"></i> Nuevo modelo
      </button>
    </form>
    {% endif %}
    <button
      type="button"
      class="btn btn-circle btn-sm shadow"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    >
      <i class="bi bi-caret-left"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav row">
      {% for item in menu_items %}
      <div class="nav-item">
        {% if menu_type == 'agenda' %}
        <a
          class="nav-link"
          href="{% url 'agendas:category.form' category=item.label.slug %}"
        >
          {{ item.label.title }}
        </a>
        {% elif menu_type == 'plantilla' %}
        <a
          class="nav-link"
          href="{% url 'templates:category.form' category=item.label.slug %}"
        >
          {{ item.label.title }}
        </a>

        {% endif %}
        <div class="">
          {% for val in item.value %} {% if menu_type == 'agenda' %}
          <li>
            <a
              class="dropdown-item"
              href="{% url 'agendas:detail' slug=val.slug %}"
              >{{ val.year }} {{ val.title }}</a
            >
          </li>
          {% elif menu_type == 'plantilla' %}
          <li>
            <a
              class="dropdown-item"
              href="{% url 'templates:detail' slug=val.slug %}"
              >{{ val.year }} {{ val.title }}
            </a>
          </li>
          {% endif %} {% endfor %}
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
