{% extends 'header.html' %} {% block content %}
<div class="container">
    {% if agenda %}
    <h2 class="">Editar Agenda</h2>
    <form class="site-form " action="{% url 'agendas:form' agenda_id=agenda.id %}" method="post" enctype="multipart/form-data">
        {% else %}
        <h2 class="">Crear Agenda</h2>
        <form class="site-form " action="{% url 'agendas:form' agenda_id='new' %}" method="post" enctype="multipart/form-data">
            {% endif %} {% csrf_token %} {{ form.non_field_errors }} {% for input in form%}
            <div class="form-group">
                {{input.label_tag}} {{input}} {{input.errors}}
            </div>
            {% endfor %}
            <div class="form-group">{% if agenda %}
                <input class="form-control" type="submit" value="Editar Agenda"> {% else %}
                <input class="form-control" type="submit" value="Crear Agenda"> {% endif %}
            </div>
        </form>
        <script>
            var x = document.querySelectorAll('input,select,textarea');
            console.log("x", x)
            for (var i = 0; i < x.length; i++) {
                x[i].classList.add("form-control");
            }
        </script>
</div>
<!-- <script src={ % static "js/slugify.js" %}></script> -->
{% endblock content %}