{% extends 'header.html' %}{% load django_bootstrap_icons %} {% block content %}

<div class="agenda">
    <div class="agenda">
        <h2>{{agenda.title}}-{{agenda.year}}</h2>
        <p>Created on: {{agenda.creation_date}}</p>
    </div>
    <div class="contacts">
        {% include "contacts/table.html" with title="Contactos" contacts=contact_list headers=headers %}

        <div class="form-group row">
            {% include 'importer/form.html' %}
            <form class="form-inline col-12 col-md-4 mx-auto" action="{% url 'contacts:form' %}">
                <button class="btn bg-white shadow col-12 ">{% bs_icon 'plus-circle-fill' extra_classes='text-success'%}&nbsp;&nbsp;Añadir Contacto</button>
            </form>
        </div>
    </div>
    {% endblock content %}