{% extends 'header.html' %}{% load django_bootstrap_icons %} {% block content %}

<div class="container p-4 my-4 shadow rounded">
    <div class="agenda p-3">
        <form class="form-inline" action="{% url 'agendas:form' slug=agenda.slug %}">
            <h2 class="display-4">{{agenda.title}}</h2>
            <button class="btn bg-white shadow ml-auto">{% bs_icon 'pencil-square' extra_classes='text-success'%}&nbsp;&nbsp;Editar Agenda</button>
        </form>
        <div class="row">
            <p class="col-auto mx-2">{{agenda.category}}</p>
            <p class="col-auto mx-2">{{agenda.year}}</p>
            <p class="col-auto mx-2">{{agenda.creation_date}}</p>

        </div>
    </div>
    <div class="contacts">
        {% include "contacts/table.html" with title="Contactos" contacts=contact_list headers=headers %}

        <div class="form-group row">
            {% include 'importer/form.html' %}
            <form class="form-inline col-12 col-md-4 mx-auto" action="{% url 'agendas:contacts:form' slug=agenda.slug %}">
                <button class="btn bg-white shadow col-12 ">{% bs_icon 'plus-circle-fill' extra_classes='text-success'%}&nbsp;&nbsp;Añadir Contacto</button>
            </form>
            <form class="form-inline col-12 col-md-4 mx-auto" action="{% url 'sender:form' %}" method="GET">
                <input type="hidden" name="agenda" value="{{agenda.slug}}" />
                <button class="btn bg-white shadow col-12 ">{% bs_icon 'envelope' extra_classes='text-success'%}&nbsp;&nbsp;Broadcast</button>
            </form>
        </div>
    </div>
    {% endblock content %}